.navbar-brand
{
    font-family: 'Palette Mosaic', cursive;
}
h1
{
    text-align: center;
}

.carousel-item{
    height: 350px;
} 
.carousel-item img{
    height: 350px;
}
#img1 {
    opacity: 0.75;
  }
#img2 {
    opacity: 0.85;
  }
 #img3 {
    opacity: 0.85;
  }
.todoo
{
    text-align: center;
}
.form
{
    padding: 6%;
}

#tableBody{
    font-size: 0.65rem;
    width: 87%;
    /* background-color: red; */
    position: absolute;
    top: 48rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#upsu
{
    border:3px solid blue;
}
#add
{    border-radius: 38px;
   
}